


img{
    transition: transform 1s ease;
}
img:hover{
    transform: scale(1.2);
}

body {
    color: white;
    text-align: center;
    background-color: #4B6926;
}

.gift1 {
    width: 25%;
    height: 25%;
}
.snowflake {
    position: fixed;
    background-color: #CCC;
    user-select: none;
    z-index: 1000;
    pointer-events: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }

  